node_modules
.next
out
build
dist
.git
.gitignore
.env
.env.local
.env.production
.env.development
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.vscode
.idea
.DS_Store
*.orig
*.bak
test.js
test-db.js
test-db-admin.js
test-etsy.js
test-shopify.js
debug_shop.ts
fetch-product.js
local.log
localrun.log
pinggy.log
serveo.log
test-schema.mjs
